Repository jordanfelle/hypercat_me: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-cdn-usage, hugo-build, validate-photo-links, rename-poses-images, convert-images

validate-cdn-usage:
  name: Validate CDN usage
  entry: ./scripts/validate-cdn-usage.sh
  language: script
  pass_filenames: false

hugo-build:
  name: Hugo build check
  entry: bash -c 'cd content && npm run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push

validate-photo-links:
  name: Validate photo.felle.me links
  entry: ./scripts/validate-photo-links.sh
  language: script
  pass_filenames: false
  stages:
  - pre-push
  require_serial: true

rename-poses-images:
  name: Rename pose images
  entry: ./scripts/rename-poses-images.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

convert-images:
  name: Convert poses to WebP and AVIF
  entry: ./scripts/convert-images.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

fix: lightbox badge positioning on subsequent images
  content/themes/hypercat-theme/layouts/_default/poses.html
Due: validate-cdn-usage, hugo-build

fix: process all lightbox slides for badge positioning
  content/themes/hypercat-theme/layouts/_default/poses.html
Due: validate-cdn-usage, hugo-build

fix: address Copilot review feedback
  .github/workflows/pre-commit.yml
  content/themes/hypercat-theme/layouts/_default/poses.html
Due: validate-cdn-usage, hugo-build

refactor: improve CDN validation script consistency
  scripts/validate-cdn-usage.sh
Due: none

Fix hostname consistency in CDN validation
  README.md
  scripts/validate-cdn-usage.sh
Due: none

Fix CDN validation messaging and exit code
  README.md
  scripts/validate-cdn-usage.sh
Due: none

Improve CDN validation robustness
  .pre-commit-config.yaml
  scripts/validate-cdn-usage.sh
Due: none

Fix portability and accessibility issues
  content/themes/hypercat-theme/layouts/_default/poses.html
  scripts/rename-poses-images.sh
Due: validate-cdn-usage, hugo-build

Address accessibility, performance, and robustness improvements
  README.md
  content/themes/hypercat-theme/layouts/_default/poses.html
  scripts/rename-poses-images.sh
  scripts/validate-cdn-usage.sh
Due: validate-cdn-usage, hugo-build

Fix mobile horizontal overflow on poses page
  content/themes/hypercat-theme/assets/css/common/poses.css
Due: hugo-build

Install pre-push hook by default
  .pre-commit-config.yaml
Due: none

Update pre-commit install instructions
  .pre-commit-config.yaml
Due: none

Add back-to-top button on poses page
  content/themes/hypercat-theme/layouts/_default/poses.html
Due: validate-cdn-usage, hugo-build

Fix rename-images workflow paths
  .github/workflows/rename-images.yml
Due: none

Remove unintended pose image changes
  content/content/poses/solo/10.webp
  content/content/poses/solo/11.webp
  content/content/poses/solo/12.webp
  content/content/poses/solo/13.webp
  content/content/poses/solo/14.webp
  content/content/poses/solo/15.webp
  content/content/poses/solo/16.webp
  content/content/poses/solo/17.webp
  content/content/poses/solo/18.webp
  content/content/poses/solo/19.webp
  content/content/poses/solo/2.webp
  content/content/poses/solo/20.webp
  content/content/poses/solo/21.webp
  content/content/poses/solo/3.webp
  content/content/poses/solo/4.webp
  content/content/poses/solo/5.webp
  content/content/poses/solo/6.webp
  content/content/poses/solo/7.webp
  content/content/poses/solo/8.webp
  content/content/poses/solo/9.webp
Due: hugo-build, rename-poses-images, convert-images

Use hash-based pose image ordering
  scripts/rename-poses-images.sh
Due: none

Tighten rename-images workflow commit gating
  .github/workflows/rename-images.yml
Due: none

Harden hash-based pose image ordering
  scripts/rename-poses-images.sh
Due: none

Fix hash ordering pipeline
  .github/workflows/rename-images.yml
  scripts/rename-poses-images.sh
Due: none

Fix rename script error handling
  scripts/rename-poses-images.sh
Due: none

Update pre-commit fix commit behavior
  .github/workflows/pre-commit.yml
Due: none

Handle image optimizer push conflicts and reorder image conversion
  .github/workflows/image-optimizer.yml
  .pre-commit-config.yaml
  content/content/poses/duo/22.webp
  content/content/poses/duo/23.webp
  content/content/poses/duo/24.webp
  content/content/poses/duo/25.webp
  content/content/poses/duo/26.webp
  content/content/poses/duo/27.webp
  content/content/poses/duo/28.webp
  content/content/poses/duo/29.webp
  content/content/poses/duo/30.webp
  content/content/poses/duo/31.webp
  content/content/poses/duo/32.webp
  content/content/poses/duo/33.webp
  content/content/poses/duo/34.webp
  content/content/poses/duo/35.webp
  content/content/poses/duo/36.webp
  content/content/poses/duo/37.webp
  content/content/poses/duo/38.webp
  content/content/poses/duo/39.webp
  content/content/poses/duo/40.webp
  content/content/poses/duo/41.webp
  content/content/poses/duo/42.webp
  content/content/poses/duo/43.webp
  content/content/poses/triple/45.webp
  content/content/poses/triple/46.webp
  content/content/poses/triple/47.webp
  content/content/poses/triple/49.webp
  content/content/poses/triple/50.webp
  content/content/poses/triple/51.webp
  content/content/poses/triple/52.webp
  content/content/poses/triple/54.webp
  content/content/poses/triple/55.webp
  content/content/poses/triple/56.webp
  content/content/poses/triple/57.webp
  content/content/poses/triple/58.webp
  content/content/poses/triple/59.webp
  content/content/poses/triple/60.webp
  content/content/poses/triple/61.webp
Due: hugo-build, rename-poses-images, convert-images

Handle image optimizer push conflicts and reorder image conversion
  .github/workflows/image-optimizer.yml
  .pre-commit-config.yaml
Due: none

Fix convert-images workflow paths
  .github/workflows/convert-images.yml
Due: none

fix poses
  content/themes/hypercat-theme/layouts/_default/poses.html
Due: validate-cdn-usage, hugo-build

Address Copilot review: fix loop guard exit code, improve script safety
  .github/workflows/convert-images.yml
  .github/workflows/pre-commit.yml
  scripts/rename-poses-images.sh
Due: none

Add loop guard to image optimizer: compress webp/avif once
  .github/workflows/image-optimizer.yml
Due: none

fix: address Copilot review comments on PR #97
  .github/workflows/convert-images.yml
  content/content/poses/duo/24.webp
  content/content/poses/duo/25.webp
  content/content/poses/duo/26.webp
  content/content/poses/duo/27.webp
  content/content/poses/duo/28.webp
  content/content/poses/duo/30.webp
  content/content/poses/duo/31.webp
  content/content/poses/duo/32.webp
  content/content/poses/duo/33.webp
  content/content/poses/duo/34.webp
  content/content/poses/duo/35.webp
  content/content/poses/duo/36.webp
  content/content/poses/duo/37.webp
  content/content/poses/duo/39.webp
  content/content/poses/duo/40.webp
  content/content/poses/duo/41.webp
  content/content/poses/duo/42.webp
  content/content/poses/duo/43.webp
  content/content/poses/duo/44.webp
  content/content/poses/groups/62.webp
  content/content/poses/groups/63.webp
  content/content/poses/groups/64.webp
  content/content/poses/groups/66.webp
  content/content/poses/triple/52.webp
  content/content/poses/triple/53.webp
  content/content/poses/triple/54.webp
  content/content/poses/triple/55.webp
  content/content/poses/triple/56.webp
  content/content/poses/triple/57.webp
  content/content/poses/triple/58.webp
  content/content/poses/triple/59.webp
  content/content/poses/triple/60.webp
  content/themes/hypercat-theme/layouts/_default/poses.html
  scripts/rename-poses-images.sh
Due: validate-cdn-usage, hugo-build, rename-poses-images, convert-images

chore: temporarily disable image optimizer workflow
  .github/workflows/image-optimizer.yml
Due: none

chore: re-enable image optimizer workflow
  .github/workflows/image-optimizer.yml
Due: none

Update
  .github/workflows/image-optimizer.yml
Due: none

fix: address Copilot review #3835607615 - improve loop detection with author check
  .github/workflows/convert-images.yml
  .github/workflows/rename-images.yml
  content/content/poses/solo/10.webp
  content/content/poses/solo/11.webp
  content/content/poses/solo/12.webp
  content/content/poses/solo/13.webp
  content/content/poses/solo/8.webp
  content/content/poses/solo/9.webp
  content/content/poses/triple/45.webp
  content/content/poses/triple/46.webp
  content/content/poses/triple/48.webp
  content/content/poses/triple/49.webp
  content/content/poses/triple/50.webp
  content/content/poses/triple/51.webp
  content/content/poses/triple/52.webp
  content/content/poses/triple/53.webp
  content/content/poses/triple/54.webp
  content/content/poses/triple/55.webp
  content/content/poses/triple/56.webp
  content/content/poses/triple/57.webp
  content/content/poses/triple/58.webp
  content/content/poses/triple/59.webp
  content/content/poses/triple/60.webp
  content/content/poses/triple/61.webp
Due: hugo-build, rename-poses-images, convert-images

fix
  .github/workflows/image-optimizer.yml
Due: none

Address Copilot review #3835611951: Add gh CLI error handling with retry logic and fix trap cleanup
  .github/workflows/convert-images.yml
  .github/workflows/rename-images.yml
  scripts/rename-poses-images.sh
Due: none

Path conditions:
  validate-cdn-usage: any of: \.(html|htm)$
  hugo-build: any of: ^(content/(content|layouts|assets|themes|hugo\.yaml))
  validate-photo-links: any of: ^(content/content/cons/|content/themes/.*/cons\.html|content/public/cons)
  rename-poses-images: any of: ^(content/content/poses/)
  convert-images: any of: ^(content/content/poses/)
